html {
  min-height: 100vh;
  min-width: 320px;

  background-image: url("https://grads.images.algonquindesign.ca/2018/backgrounds/coming-soon-background-vertical.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #10b2ac;

  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
}

.fw-100 {
  font-weight: 100;
}

.pad-t-4 {
  padding-top: 5.2rem;
}

.border-b {
  border-bottom: 2px solid white;
}

.big-border {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;

  border: solid 10px white;

  pointer-events: none;
}

.big-border-blue {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: 20px solid #253d87;
  border-image-source: linear-gradient(-45deg, #1aadac, #253d87);
  border-image-slice: 1;

  pointer-events: none;
}

.text-cards {
  width: 80%;
  max-width: 40em;
}

.social-link {
  color: #ffffff;
}

.social-link:hover {
  opacity: .65;
}

@media only screen and (min-width: 38em) {

  html {
    background-image: url("https://grads.images.algonquindesign.ca/2018/backgrounds/coming-soon-background.jpg");
  }

  .header {
    margin-bottom: 5.6rem;
  }

  .pad-t-4 {
    padding-top: 5.6rem;
  }

  .big-border {
    border-width: 20px;
  }

  .text-cards {
    max-width: 52em;
  }

}

@media only screen and (min-width: 60em) {

  .header {
    margin-bottom: 6rem;
  }

  .pad-t-4 {
    padding-top: 6rem;
  }

}
